@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #010057;
}

* {
  font-family: sans;
}

body {
    background: url('../images/backdrop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
