.box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    color: #010057;
    font-size: 1rem;
    transition: .5s;
}

.box input {
    outline: none;
    background: none;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    border-bottom: 1px solid #010057;
}

.box input:focus ~ label,
.box input:valid ~ label {
    transform: translateY(-20px);
    font-size: .8rem;
}
